.editorconfig
.idea/
*.iml
*.log
*.tmp
*.bak
*.swp
.DS_Store
node_modules/
dist/
build/
coverage/
.env
.env.local
.env.development
.env.test
.env.production
.venv
.vscode/
*.sublime-project
# Binaries
api
__pycache__/
*.pyc
ml/data/processed/training_data.csv
ml/models/*.keras
ml/models/*.tflite
ml/.venv/